@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

.navbar{
	padding:0 20px;
	margin: 0
}
.navbar-brand.btn{
	padding:10px 0px 8px 4px
}
.navbar-brand.btn img{
	width:116px;
	height: 32px;
}
.navbar-nav .nav-link i{
	font-size:33px;

}