.cart-item {
  font-family: "Inter";
  font-style: normal;
  padding: 49px 0 160px 24px;
  background-color: #ffffff;
}

.cart-item h2 {
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  padding-left: 45px;
}
.cart-item hr {
  margin-left: 44px;
  margin-right: 40px;
  border: 1px solid #dedddc;
  transform: rotate(0.37deg);
}
